---
import DocLayout from '../../components/DocLayout.astro'
---

<DocLayout>
  <h1>Welcome to a documentation index</h1>
  <p>This is the index page which should be created by site authors</p>
  <a href="/">Go back to site</a>
</DocLayout>
