---
import SiteLayout from '../components/SiteLayout.astro'
---

<SiteLayout>
  <h1>Hello there!</h1>
  <p>
    This is a absolutely custom Astro site, which reuses some CSS from
    `astro-typedoc`
  </p>
  <a href="/docs/">Go to docs!</a>
</SiteLayout>
