---
---

<main>
  <div class="markdown">
    <slot />
  </div>
</main>

<style>
  main {
    grid-area: content;
    padding: 16px;
    font-size: 16px;
  }
</style>

<style is:global>
  .markdown .astro-code {
    padding: 24px 16px;
    border-radius: 4px;
  }

  .markdown h2 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .markdown table {
    margin-bottom: 16px;
    border-collapse: collapse;
  }

  .markdown td,
  .markdown th {
    padding: 12px 0;
    border-bottom: 1px solid lightgrey;
  }

  .markdown table th + th,
  .markdown table td + td {
    padding-left: 51px;
  }

  .markdown table a {
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    background: rgba(211, 211, 211, 0.7);
    transition: background 0.3s ease;
    color: black;
    border-radius: 4px;
  }

  .markdown table a:hover {
    background: rgba(211, 211, 211, 1);
  }

  .markdown a code {
    color: black;
  }

  .markdown a {
    color: black;
    text-decoration: underline;
  }

  .markdown blockquote {
    margin-bottom: 16px;
  }
</style>
