---
const { nav } = Astro.props
const sortedItems = [...nav.items].sort(
  ({ title: title1 }, { title: title2 }) => title1.localeCompare(title2)
)
---

{
  sortedItems?.length && (
    <nav class="navigation">
      {sortedItems.map(navItem => (
        <a
          class="nav-item"
          class:list={[{ 'is-active': Astro.url.pathname === navItem.url }]}
          href={navItem.url}
        >
          {navItem.title}
        </a>
      ))}
    </nav>
  )
}
