---
const { nav } = Astro.props
const sortedItems = [...nav.items].sort(
  ({ title: title1 }, { title: title2 }) => title1.localeCompare(title2)
)
---

{
  sortedItems?.length && (
    <nav class="at-navigation">
      {sortedItems.map(navItem => (
        <a
          class="at-navigation-item"
          class:list={[{ 'at-is-active': Astro.url.pathname === navItem.url }]}
          href={navItem.url}
        >
          {navItem.title}
        </a>
      ))}
    </nav>
  )
}

<style is:global>
  .at-navigation {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    width: 250px;
    border-right: 1px solid rgb(229, 231, 235);
  }

  .at-navigation-item {
    font-size: 14px;
    color: rgb(82, 82, 91);
    text-decoration: none;
    padding: 4px 12px 4px 16px;
  }

  .at-navigation-item:hover,
  .at-navigation-item.at-is-active {
    background-color: rgb(229, 231, 235);
    color: rgb(24, 24, 27);
    border-radius: 4px;
  }
</style>

<script>
  document
    .querySelector('.at-navigation-item.at-is-active')
    ?.scrollIntoView({ block: 'center' })

  window.scrollTo(0, 0)
</script>
