---
import Header from './Header.astro'
import ContentWrapper from './ContentWrapper.astro'
import '../styles/normalize.css'
import '../styles/style.css'

import Sidebar from './Sidebar.astro'
const { frontmatter } = Astro.props
---

<div class="layout">
  <Header />
  <Sidebar />
  <ContentWrapper frontmatter={frontmatter}>
    <slot />
  </ContentWrapper>
</div>

<style>
  .layout {
    position: relative;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
      'sidebar header'
      'sidebar content';
  }
</style>
