---
import FlatSidebar from './FlatSidebar.astro'
import ModularSidebar from './ModularSidebar.astro'
import Header from './Header.astro'
import ContentWrapper from './ContentWrapper.astro'
import '../styles/style.css'

import nav from '../nav.json'
---

<div class="layout">
  <Header />
  {
    nav.type === 'flat' ? (
      <FlatSidebar nav={nav} />
    ) : (
      <ModularSidebar nav={nav} />
    )
  }
  <ContentWrapper>
    <slot />
  </ContentWrapper>
</div>

<style>
  .layout {
    position: relative;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
      'sidebar header'
      'sidebar content';
  }
</style>
