---
const { nav } = Astro.props
---

{
  nav?.modules.length && (
    <nav class="navigation">
      {nav.modules.map(mod => (
        <div class="nav-block">
          <p class="nav-block-title">{mod.name}</p>
          {mod.items.map(modItem => (
            <a
              class:list={[
                'nav-item',
                { 'is-active': Astro.url.pathname === modItem.url }
              ]}
              href={modItem.url}
            >
              {modItem.title}
            </a>
          ))}
        </div>
      ))}
    </nav>
  )
}
