---
const { nav } = Astro.props
const preparedModules = [...nav.modules].reverse().map(mod => ({
  ...mod,
  items: mod.items.sort(({ title: title1 }, { title: title2 }) =>
    title1.localeCompare(title2)
  )
}))
---

{
  preparedModules?.length && (
    <nav class="navigation">
      {preparedModules.map(mod => (
        <div class="nav-block">
          <p class="nav-block-title">{mod.name}</p>
          {mod.items.map(modItem => (
            <a
              class:list={[
                'nav-item',
                { 'is-active': Astro.url.pathname === modItem.url }
              ]}
              href={modItem.url}
            >
              {modItem.title}
            </a>
          ))}
        </div>
      ))}
    </nav>
  )
}
