---
---

<header class="header">
  <a href="/">Site</a>
  <a href="/docs/">API Docs</a>
</header>

<style>
  .header {
    padding: 12px 0;
    border-bottom: 1px solid grey;
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }

  .header a {
    color: black;
    font-size: 18px;
  }
</style>
