---
import SiteLayout from '../components/SiteLayout.astro'
---

<SiteLayout>
  <h1>Hello there!</h1>
  <p>
    This is a custom site, where generated docs is just a API section of the
    site!
  </p>
  <a href="/docs/">Go to docs!</a>
</SiteLayout>
