.at-markdown h1 {
  margin-bottom: 16px;
}

.at-markdown h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.at-markdown h3 {
  margin-bottom: 12px;
}

.at-markdown blockquote {
  margin-bottom: 16px;
}

.at-markdown hr {
  margin: 24px 0;
}
